body,
table,
tr,
td,
video,
audio,
ul,
ol,
li {
	padding: 0;
	margin: 0;
}
.lrc-create {
	margin: 0 auto;
}
.lrc-create td {
	vertical-align: top;
}
.lrc-create td.resource {
	width: 600px;
}
.lrc-create td.creater {
	width: 370px;
}
#lrc-list li {
	border: 1px solid transparent;
	border-bottom: 1px solid #eee;
	list-style: none;
	position: relative;
	width: 100%;
	display: block;
	width: 350px;
	font-size: 15px;
	line-height: 15px;
}
#lrc-list li.playing {
	border: 1px solid red;
}
#lrc-list li.playing textarea,
#lrc-list li.playing input {
	color: red;
}
#lrc-list li:hover {
	/*-webkit-animation: highlightLrcRow 300ms ease-in 0ms 1;*/
	-webkit-transition: all 300ms ease-in 0ms;
	border-bottom-color: #aaa;
}
/*#lrc-list li .operate {
	height: 0px;
	-webkit-transform: scaleY(0);
	-webkit-transform-origin: top left;
	opacity: 0;
}
#lrc-list li:hover .operate {
	-webkit-transform: scaleY(1);
	-webkit-transition: all 300ms ease-in 0ms;
	height: 30px;
	opacity: 1;
	display: block;
}*/
#lrc-list li:last-child {
	margin-bottom: 10px;
}
#lrc-list li.selected {
	background-color: yellow;
}
#lrc-list li .operate {
	height: 30px;
	line-height: 30px;
	position: absolute;
	left: 0;
	bottom: -30px;
	z-index: 9;
}
#lrc-list li .operateHidden {
	display: none;
}
#lrc-list li .operate .btns-multiple {
	display: none;
}
#lrc-list li .operateMultiple .btns-multiple {
	display: inline;
}
#lrc-list li .operateMultiple .btns-single {
	display: none;
}
#lrc-list li .J_lrcModifyTime {
	display: none;
}
#lrc-list li .operateModifyTime .J_lrcModifyTime {
	display: inline;
}
#lrc-list li .begin-time {
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: 1;
	resize: none;
	-webkit-appearance: none;
	background-color: transparent;
	border: 0;
	outline: none;
}
#lrc-list li .subtitle {
	border-radius: 0.5em;
	background-color: transparent;
	border: 1px solid transparent;;
	-webkit-appearance: none;
	resize: none;
	text-indent: 5em;
	overflow-x: hidden;
	outline: none;
	width: 350px;
}
#lrc-list li .begin-time:focus {
	/*top: 0px;
	left: 0px;*/
	border-bottom: 1px solid #aaa;
/*	border-radius: 0.5em;*/
}
#lrc-list li .subtitle:focus {
	border-color: #aaa;
}
#lrc-list .currentTimePoint {
	background-color: #000;
}
#lrc-list .begin-time {
}
#lrc-list .end-time {
}
.lrc-area {
	height: 400px;
	width: 370px;
	overflow-y: auto;
	overflow-x: hidden;
}
.textarea_lrcTextResource {
	border: 1px solid transparent;
	outline: 0;
	border-radius: 0.5em;
	resize: none;
	overflow: hidden;
}
.textarea_lrcTextResourceEditAble {
	border-color: #ccc;
}
.lrcTextEditArea {
	position: relative;
	width: 350px;
}
.lrcTextEditArea .buttonArea {
	position: absolute;
	right: 0px;
	bottom: 0px;
}