.kitjs-form-list {
	z-index: 99999;
	background-color: #fff;
	list-style: none;
	display: block;
	position: absolute;
	top: 100%;
	width: 100%;
	_width: 250px;
	left: 0px;
	border: 1px solid #ccc;
	line-height: 30px;
	font-size: 14px; 
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 2px;
	max-height: 200px;
	_height: expression(eval(this.offsetHeight>200?200:this.offsetHeight));
	*display: inline;
	*zoom: 1;
	overflow: auto;
	cursor: pointer;
}
.kitjs-form-list .kitjs-form-listItem {
	padding: 0 5px;
	*zoom: 1;
	_width: 222px;
}
.kitjs-form-list .kitjs-form-listItem-odd {
	background-color: #f8f8f8;
}
.kitjs-form-list .kitjs-form-listItem-even {
	background-color: #fff;
}
.kitjs-form-list .selected {
	background-color: #576b9c;
	color: #fff;
	font-weight: bold;
}
.kitjs-form-list .selected b {
	color: orange;
}
.kitjs-form-list-loading {
	height: 30px;
	line-height: 30px;
	color: #000;
	text-align: center; 
}
.kitjs-form-list-loading i {
	display: inline-block;
	background: url("/KitJs/KitJs/src/img/loading.gif");
	width: 15px;
	height: 15px;
}
.kitjs-form-list-error {
	color: red;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.kitjs-form-listItem {
	vertical-align: baseline;
}
.kitjs-form-listItem b {
	vertical-align: baseline;
	color: red;
}
