@-webkit-keyframes a {
	0% {
		height: 20px;
	}
	100% {
		height: 100px;
	}
	
}
.b {
	-webkit-animation-name: a;
	-webkit-animation-duration: 7s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}