/**
 * 	iphone气泡
 */
#wraper1,
#wraper2,
#wraper3,
#wraper4 {
	color: #000;
	position: relative;
	width: 100%;
	background: #dbe2ed;
}
.bubble {
	position: relative;
	display: inline-block;
	min-width: 30px;
	max-width: 300px;
	word-break: break-all;
	word-wrap: break-word;
	min-height: 22px;
	background: #d2d2d2;
	border-radius: 15px;
	margin-bottom: 20px;
	padding: 6px 8px;
	-webkit-box-shadow: 0px 1px 2px #000, inset 0px 4px 4px rgba(0,0,0,.3), inset 0px -4px 4px rgba(255,255,255,.5);
	-moz-shadow: 0px 1px 2px #000, inset 0px 4px 4px rgba(0,0,0,.3), inset 0px -4px 4px rgba(255,255,255,.5);
	box-shadow: 0px 1px 2px #000, inset 0px 4px 4px rgba(0,0,0,.3), inset 0px -4px 4px rgba(255,255,255,.5);
}
.bubble:before {
	content: '';
	display: block;
	font-size: 0;
	width: 0;
	height: 0;
	border-width: 6px;
	position: absolute;
	bottom: -12px;
	left: 12px; 
	border-color: #4a4c50 transparent transparent #4a4c50;
	border-style: solid dashed dashed solid;
}
.bubble:after {
	content: '';
	display: block;
	font-size: 0;
	position: absolute;
	bottom: -9px;
	left: 13px;
	width: 0;
	height: 0;
	border-width: 5px;
	border-color: #e8e8e8 transparent transparent #e8e8e8;
	border-style: solid dashed dashed solid;
}
.bubble .content {
	position: relative;
	padding: 0 4px;
}
.bubble .content:before {
	content: '';
	position: absolute;
	margin: auto;
	top: -5px;
	left: 0;
	width: 100%;
	height: 12px;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.2) 90%, rgba(255,255,255,0) 90% );
	background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.2) 90%, rgba(255,255,255,0) 90% );
	border-radius: 10px
}



/**
 * 	绿色气泡
 */
#wraper2 .bubble {
	background: #b7da2b;
}
#wraper2 .bubble:before {
	left: auto;
	right: 12px;
	border-color: #4a4c50 #4a4c50 transparent transparent;
	border-style: solid solid dashed dashed;
}
#wraper2 .bubble:after {
	left: auto;
	right: 13px;
	border-color: #daec93 #daec93 transparent transparent;
	border-style: solid solid dashed dashed;
}


/**
 * 	橙色气泡
 */
#wraper3 .bubble {
	background: #f6d031;
}
#wraper3 .bubble:after {
	border-color: #fae796 transparent transparent #fae796;
	border-style: solid dashed dashed solid;
}


/**
 * 	黄色气泡
 */
#wraper4 .bubble {
	background: #feed24;
}
#wraper4 .bubble:before {
	left: auto;
	right: 12px;
	border-color: #4a4c50 #4a4c50 transparent transparent;
	border-style: solid solid dashed dashed;
}
#wraper4 .bubble:after {
	left: auto;
	right: 13px;
	border-color: #fef690 #fef690 transparent transparent;
	border-style: solid solid dashed dashed;
}
