/* @group Page */

body {
	margin: 0px;
	min-height: 356px;
	font-family: Helvetica;
	-webkit-user-select: text;
}
hr {
	border-style: solid;
	border-color: rgb(214, 214, 212);
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
#content {
	position: relative;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: auto;
	min-height: 46px;
	height: auto;
}
.expDiv {
	margin-top: 25px;
}
#expBody {
	margin-left: 4px;
	margin-right: 4px;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
}
h1 {
	font-weight: bold;
	font-size: 110%;
}
h2 {
	font-weight: bold;
	font-size: 110%;
	font-style: italic;
}
h3 {
	font-weight: bold;
	font-size: 110%;
	color: #3366FF;
}
h4 {
	font-weight: bold;
	font-size: 110%;
	color: #006600;
}
h5 {
	margin-bottom: 2px;
	font-weight: bold;
	color: gray;
}
/* @end */

/* @group study star */
.five-star-level {
	text-align: center;
	margin: 20px auto 5px;
	width: 150px;
	height: 65px;
	font-size: 12px;
	color: #707070;
	position: relative;
}
.five-star-level-choose {
	background: url(starGhost.png) repeat-x;
	background-size: 30px 30px;
	height: 30px;
	width: 150px;
}
.five-star-level .studyCatPicker {
	width: 30px;
	height: 30px;
	display: none;
	position: absolute;
	left: -25px;
	top: 0;
	cursor: pointer;
	background: url(starGroup.png) 4px 9px no-repeat;
	background-size: 16px 15px;
}
#J_LevelChooseDefaultTips {
	clear: both;
	padding-top: 5px;
}
@-webkit-keyframes changeLevelSuccessShow {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
#J_LevelChooseSuccessTips {
	display: none;
	-webkit-animation-duration: 2500ms;
	-webkit-animation-iteration: 1;
	-webkit-animation-timing-function: ease-in-out;
}
.five-star-level-selected {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 30px;
	cursor: pointer;
}
.five-star-level-selected .level1, .five-star-level-selected .level2, .five-star-level-selected .level3, .five-star-level-selected .level4, .five-star-level-selected .level5 {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	opacity: 0;
	background: url(star.png);
	background-size: 30px 30px;
	cursor: pointer;
	-webkit-transition: all 500ms ease-out 0ms;
}
.five-star-level-selected .level2 {
	left: 30px;
}
.five-star-level-selected .level3 {
	left: 60px;
}
.five-star-level-selected .level4 {
	left: 90px;
}
.five-star-level-selected .level5 {
	left: 120px;
}
/* @end */


/* @group ExpDecoration */

#phrase i {
	color: rgb(0, 153, 51);
	font-weight: bold;
}
.txtDisabled {
	color: rgb(153, 153, 153);
}
.Phonitic {
	font-family: Arial;
	color: rgb(0, 0, 255);
	margin-left: 4px;
}
.PY {
	color: gray;
	padding-left: 5px;
}
.SepecificDic {
	color: rgb(153, 153, 153);
}
.cara {
	color: #1C6FB8;
	font-weight: bold;
}
.trans {
	font-style: italic;
	color: #1C6FB8;
}
.exp {
	color: rgb(51, 51, 51);
}
.exp ol li {
	padding-top: 8px;
}
.exp ul li {
	padding-top: 2px;
}
.syno {
	color: rgb(255, 0, 0);
}
.eg {
	color: rgb(35, 142, 104);
}
.tip {
	vertical-align: text-top;
	color: gray;
	font-size: small;
}
.explain_wrap {
	padding-top: 20px;
}
.expHead {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.expDiv:after, .expDiv:before {
	content: " ";
	display: inline-block;
	height: 1px;
	line-height: 0;
	font-size: 0;
	-webkit-user-select: none;
}
.expHead:after {
	content: " ";
	display: block;
	height: 1px;
	line-height: 0;
	font-size: 0;
	-webkit-user-select: none;
}
.cgInfo {
	color: rgb(18, 86, 135);
	margin: 5px;
}
.HighLightCG {
	background-color: #FFFF00;
}
.sentence li {
	margin-top: 7px;
}
.sentence .exp {
	color: Gray;
}
.sentence .key {
	color: #266EFE;
}
.highlight {
	-webkit-box-shadow: 1px 1px 1px #999;
	background: #dedede;
	padding: 2px 4px;
	-webkit-border-radius: 2px;
}
.cur-highlight {
	-webkit-box-shadow: 3px 3px 3px #999;
	background: yellow;
	padding: 2px 4px;
	-webkit-border-radius: 6px;
	color: #000
}
.waiting {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: 1px;
	overflow: visible;
	visibility: visible;
	display: block;
}
/* @end */


/* @kitjs tabpanel start */
body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	width: 100%;
}
a.backhome {
	margin-left: 20px;
}
.kitjs-tabpanel {
	display: block;
	clear: both;
	overflow: hidden;
	display: block;
	position: relative;
}
.tabpanel_tab_container {
	margin: 0;
	padding: 0;
	height: 42px;
	width: 100%;
	position: relative;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#383a45), to(#212229));
}
/* 下边框外阴影 */
.tabpanel_tab_container:before {
	height: 8px;
	width: 100%;
	content: ' ';
	display: block;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000000),to(#fefefe),color-stop(20%, #a1a3a7), color-stop(35%,#e7e7e7));
	background-color: red;
	position: absolute;
	bottom: -8px;
	left: 0;
	z-index: -1;
}
/* tab列表 */
.tabpanel-tabList {
	width: 9999px;
	display: block;
	left: 0;
	top: 0;
	height: 100%;
	position: absolute;
	display: block;
	height: 100%;
	margin: 0 20px;
}
.tabpanel-tabList:before {
	content: ' ';
	display: block;
	position: absolute;
	height: 1px;
	font-size: 0;
	line-height: 0;
	top: 38px;
	left: 0;
	width: 100%;
	border-top: 2px solid #0c1018;
}
/* .tabpanel-tabList .left-arrow,
 .tabpanel-tabList .right-arrow {
 display: block;
 width: 20px;
 height: 100%;
 float: left;
 } */

.tabpanel-tabList .tab {
	float: left;
	display: block;
	height: 34px;
	line-height: 34px;
	margin-top: 5px;
	padding: 0px 23px;
	padding-bottom: 0;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
	border: 0px solid transparent;
	border-bottom: 0;
	color: #d2d2d5;
	position: relative;
	font-size: 14px;
	text-shadow: 0px -1px 0px #000;
}
/* 分隔符 */
.tabpanel-tabList .tab:last-child:before {
	display: none;
}
.tabpanel-tabList .tab:before {
	content: ' ';
	width: 0px;
	height: 14px;
	background-color: #3e3f46;
	border-left: 2px solid #080808;
	border-right: 1px solid #47474f;
	position: absolute;
	right: -2px;
	top: 10px;
}
.tabpanel-tabList .selected-tab {
	background-color: #5073b8 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5c7cbe), to(#496db3));
	border-color: #000;
	border-bottom: 0;
	color: #fff !important;
	background-color: #ccc;
	color: #000;
	position: relative;
	z-index: 1;
}
.tabpanel-tabList .selected-tab:before {
	display: none;
}
/* 选中边框下蓝条 */
.tabpanel-tabList .selected-tab:after {
	position: absolute;
	bottom: -4px;
	z-index: 0;
	left: -999px;
	width: 9999px;
	content: ' ';
	height: 4px;
	display: block;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#496db3), to(#243457), color-stop(70%,#4365a6));
}
.tabpanel_body_container .selected-tabPage .expHead {
	display: none;
}
.tabpanel_body_container .selected-tabPage .collapse {
	display: block !important;
}
.tabpanel-tabList .spc-btn {
	float: left;
	display: block;
	height: 25px;
	width: 25px;
	line-height: 25px;
	border-radius: 25px;
	cursor: pointer;
	color: white;
	position: relative;
	margin-top: 9px;
	font-size: 14px;
	margin-right: 20px;
	border: 1px inset #3d6599;
	text-align: center;
	text-indent: -999px;
	background-image: -webkit-gradient(linear,0 0,0 100%, from(#647fa3), to(#396297));
}
.tabpanel-tabList .spc-btn:before {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	top: 4px;
	left: 4px;
	font-size: 20px;
	line-height: 20px;
	color: #000;
	content: '←';
	z-index: 999;
	background-color: #fff;
}
.tabpanel-tabList .spc-btn a {
	color: #fff;
	text-decoration: none;
}
.hidden, .collapse {
	display: none;
}
/* @kitjs tabpanel end */

/**
 * 	词典TabMode start
 */
body {
	background-color: #f2f2f2;
}
#expBody.tabpanel_body_container {
	margin: 0;
}
#expBody.tabpanel_body_container #main-tab {
	padding: 10px;
}
#expBody.tabpanel_body_container .J_tabpage {
	border-bottom: 1px solid #c7c8ca;
	border-top: 1px solid #fff;
	padding: 0;
	background-color: #f2f2f2;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
	background-position: left top;
	background-size: 100% 100px;
	background-repeat: no-repeat;
}
#expBody.tabpanel_body_container .expHead {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}
#expBody.tabpanel_body_container .expDiv {
	padding: 0 10px;
	margin: 0 0 10px;
	border-top: 1px solid #c7c8ca;
}
#expBody.tabpanel_body_container .selected-tabPage .expDiv {
	border-top: 0;
}
#expBody.tabpanel_body_container .J_collapseDict {
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	padding: 0 10px;
	cursor: pointer;
	position: relative;
}
#expBody.tabpanel_body_container .dictCollapse {
	border: 0 !important;
}
#expBody.tabpanel_body_container .J_collapseDict:after {
	position: absolute;
	right: 10px;
	top: 5px;
	display: block;
	z-index: 9;
	content: '▲';
	color: #ccc;
	border: 1px solid #ccc;
	text-align: center;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background-color: #fff;
	border-radius: 5px;
}
#expBody.tabpanel_body_container .dictCollapse:after {
	position: absolute;
	right: 10px;
	top: 5px;
	display: block;
	z-index: 9;
	content: '▼';
	color: #ccc;
	border: 1px solid #ccc;
	text-align: center;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background-color: #fff;
	border-radius: 5px;
}
/**
 * 	词典TabMode end
 */