.audiojs audio {
	position: absolute;
	left: -1px;
}
.audiojs {
	width: 980px;
	height: 40px;
	display: block;
	background: url(//static.cikuapp.com/Ciku/img/media/audio-controls.png) no-repeat 0 -118px;
	font-family: monospace;
	font-size: 12px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.8);
}
.audiojs .play-pause {
	width: 30px;
	height: 30px;
	margin: 5px 16px 0 20px;
	float: left;
	overflow: hidden;
}
.audiojs p {
	display: none;
	width: 30px;
	height: 30px;
	margin: 0px;
	cursor: pointer;
}
.audiojs .play {
	display: block;
}
.audiojs .scrubber {
	position: relative;
	float: left;
	width: 866px;
	height: 17px;
	margin-top: 12px;
	cursor: pointer;
	background: url(//static.cikuapp.com/Ciku/img/media/audio-controls.png) no-repeat 0 -226px;
}
.audiojs .progress {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 17px;
	width: 0px;
	z-index: 1;
}
.audiojs .progress i {
	display: block;
	cursor: pointer;
	width: 17px;
	height: 17px;
	position: absolute;
	right: -9px;
	top: 0px;
	overflow: hidden;
	background: url(//static.cikuapp.com/Ciku/img/media/audio-controls.png) no-repeat -107px -3px;
}
.audiojs .loaded {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 17px;
	width: 0px;
	background: url(//static.cikuapp.com/Ciku/img/media/audio-controls.png) no-repeat 0 -186px;
}
.audiojs .time {
	position: absolute;
	right: -60px;
	text-align: center;
	top: -54px;
	width: 120px;
	color: #fff;
	line-height: 33px;
	height: 50px;
	background: url(//static.cikuapp.com/Ciku/img/media/audio-controls.png) no-repeat -226px 0; 
}
.audiojs .time em {
	padding: 0px 2px 0px 0px;
	color: #f9f9f9;
	font-style: normal;
}
.audiojs .time strong {
	padding: 0px 0px 0px 2px;
	font-weight: normal;
	color: #fff;
}
.audiojs .error-message {
	float: left;
	display: none;
	margin: 0px 10px;
	height: 36px;
	width: 400px;
	overflow: hidden;
	line-height: 36px;
	white-space: nowrap;
	color: #fff;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-icab-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}
.audiojs .error-message a {
	color: #eee;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #999;
	white-space: wrap;
}
.audiojs .play {
	background: url(//static.cikuapp.com/Ciku/img/media/audio-controls.png) -43px 5px no-repeat;
}
.audiojs .play:hover {
	background-position: -43px -28px;
}
.audiojs .play:active {
	background-position: -43px -65px;
}
.audiojs .loading {
	display: block;
}
.audiojs .error {
}
.audiojs .pause {
	background: url(//static.cikuapp.com/Ciku/img/media/audio-controls.png) 6px 5px no-repeat;
}
.audiojs .pause:hover {
	background-position: 6px -28px;
}
.audiojs .pause:active {
	background-position: 6px -65px;
}
.playing .play, .playing .loading, .playing .error {
	display: none;
}
.playing .pause {
	display: block;
}
.loading .play, .loading .pause, .loading .error {
	display: none;
}
.loading .loading {
	display: block;
	background: url(//static.cikuapp.com/Ciku/img/media/loading.gif) no-repeat 7px 7px;
}
.error .time, .error .play, .error .pause, .error .scrubber, .error .loading {
	display: none;
}
.error .error {
	display: block;
}
.error .play-pause p {
	cursor: auto;
}
.error .error-message {
	display: block;
}